#searchIcon {
    background-color: rgba(255, 255, 255, 0.1); /* Matches background color */
    color: white;
    border: none;
}
#searchInput {
    border: none;
    background: rgba(255, 255, 255, 0.1);
    color: white;
}
#searchInput::placeholder {
    color: #d3d3d3; /* Placeholder text color */
}



 .stars {
	color: #00bae9;
	 position: fixed;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 120%;
	 transform: rotate(-45deg);
}
 .star {
	 --star-color: var(--primary-color);
	 --star-tail-length: 6em;
	 --star-tail-height: 2px;
	 --star-width: calc(var(--star-tail-length) / 6);
	 --fall-duration: 9s;
	 --tail-fade-duration: var(--fall-duration);
	 position: absolute;
	 top: var(--top-offset);
	 left: 0;
	 width: var(--star-tail-length);
	 height: var(--star-tail-height);
	 color: var(--star-color);
	 background: linear-gradient(45deg, currentColor, transparent);
	 border-radius: 50%;
	 filter: drop-shadow(0 0 6px currentColor);
	 transform: translate3d(104em, 0, 0);
	 animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
 @media screen and (max-width: 750px) {
	 .star {
		 animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
	}
}
.star:nth-child(1) {
	--star-tail-length: 8em;
	--top-offset: 10vh;
	--fall-duration: 5s;
	--fall-delay: 1s;
  }
  .star:nth-child(2) {
	--star-tail-length: 6em;
	--top-offset: 20vh;
	--fall-duration: 4s;
	--fall-delay: 1.5s;
  }
  .star:nth-child(3) {
	--star-tail-length: 7em;
	--top-offset: 15vh;
	--fall-duration: 4.5s;
	--fall-delay: 2s;
  }
 .star:nth-child(4) {
	 --star-tail-length: 9em;
	 --top-offset: 30vh;
	 --fall-duration: 5.5s;
	 --fall-delay:2s;
}
 .star:nth-child(5) {
	--star-tail-length: 15em;
	 --top-offset: 25vh;
	 --fall-duration: 5.1s;
	 --fall-delay:3s;
}
 .star:nth-child(6) {
	--star-tail-length: 22em;
	--top-offset: 70vh;
	--fall-duration: 3.1s;
	--fall-delay:2.5s;
}
 .star:nth-child(7) {
	--star-tail-length: 16em;
	--top-offset: 50vh;
	--fall-duration: 3.1s;
	--fall-delay:2.5s;
}
 .star:nth-child(8) {
	 --star-tail-length: 2363436245.6399998665em;
	 --top-offset: 58982065116.75vh;
	 --fall-duration: 3449799718.8070001602s;
	 --fall-delay: 4192652413.3189997673s;
}
 .star:nth-child(9) {
	 --star-tail-length: 2253432646.7899999619em;
	 --top-offset: 96493643199.4799957275vh;
	 --fall-duration: 7505464532.3039999008s;
	 --fall-delay: 13198284816.5119991302s;
}
 .star:nth-child(10) {
	 --star-tail-length: 985844474.7100000381em;
	 --top-offset: 27034426472.3300018311vh;
	 --fall-duration: 2344594060.5590000153s;
	 --fall-delay: 4510903795.2749996185s;
}
 .star:nth-child(11) {
	 --star-tail-length: 4529753524.2700004578em;
	 --top-offset: 120530340828.8999938965vh;
	 --fall-duration: 10443262981.7870006561s;
	 --fall-delay: 16276525629.813999176s;
}
 .star:nth-child(12) {
	 --star-tail-length: 1387003482.7699999809em;
	 --top-offset: 65092880937.2300033569vh;
	 --fall-duration: 10173877521.6919994354s;
	 --fall-delay: 19627487942.5390014648s;
}
 .star:nth-child(13) {
	 --star-tail-length: 2739826887.4499998093em;
	 --top-offset: 106980172747.5800018311vh;
	 --fall-duration: 9829149248.5540008545s;
	 --fall-delay: 2530311535.853000164s;
}
 .star:nth-child(14) {
	 --star-tail-length: 3557512863em;
	 --top-offset: 49579563260.5800018311vh;
	 --fall-duration: 6110791817.5860004425s;
	 --fall-delay: 2819285040.3140001297s;
}
 .star:nth-child(15) {
	 --star-tail-length: 3423174706.2199997902em;
	 --top-offset: 209365845091.0599975586vh;
	 --fall-duration: 9753049787.4239997864s;
	 --fall-delay: 7648782871.8070001602s;
}
 .star:nth-child(16) {
	 --star-tail-length: 1344871177.4800000191em;
	 --top-offset: 100505964191.4600067139vh;
	 --fall-duration: 5993422531.2980003357s;
	 --fall-delay: 11538747679.3920001984s;
}
 .star:nth-child(17) {
	 --star-tail-length: 515190471.6600000262em;
	 --top-offset: 35488790324.1800003052vh;
	 --fall-duration: 9941272256.6079998016s;
	 --fall-delay: 14147641562.6940002441s;
}
 .star:nth-child(18) {
	 --star-tail-length: 313972759.9700000286em;
	 --top-offset: 19048573066.8400001526vh;
	 --fall-duration: 9567453649.888999939s;
	 --fall-delay: 14246506918.2409992218s;
}
 .star:nth-child(19) {
	 --star-tail-length: 4415106937.4600000381em;
	 --top-offset: 156748886621.3299865723vh;
	 --fall-duration: 9699732132.6289997101s;
	 --fall-delay: 7667770590.388999939s;
}
 .star:nth-child(20) {
	 --star-tail-length: 887857957.6799999475em;
	 --top-offset: 88677170230.3399963379vh;
	 --fall-duration: 5660096026.1379995346s;
	 --fall-delay: 10217741241.9570007324s;
}
 .star:nth-child(21) {
	 --star-tail-length: 4395549798.0699996948em;
	 --top-offset: 140504972992.3900146484vh;
	 --fall-duration: 7250672640.0649995804s;
	 --fall-delay: 7964498130.1759996414s;
}
 .star:nth-child(22) {
	 --star-tail-length: 419859647.5799999833em;
	 --top-offset: 51478744059.6699981689vh;
	 --fall-duration: 7361205005.0559997559s;
	 --fall-delay: 7159962564.6639995575s;
}
 .star:nth-child(23) {
	 --star-tail-length: 5154114066.470000267em;
	 --top-offset: 87236844812.1999969482vh;
	 --fall-duration: 9385200129.3640003204s;
	 --fall-delay: 8424798045.5649995804s;
}
 .star:nth-child(24) {
	 --star-tail-length: 2676645044.4600000381em;
	 --top-offset: 7763968219.1899995804vh;
	 --fall-duration: 10444928691.3589992523s;
	 --fall-delay: 16368166612.9960002899s;
}
 .star:nth-child(25) {
	 --star-tail-length: 4573558541.25em;
	 --top-offset: 3814612023.0599999428vh;
	 --fall-duration: 2684916405.498000145s;
	 --fall-delay: 2778882950.5089998245s;
}
 .star:nth-child(26) {
	 --star-tail-length: 4430852654.3999996185em;
	 --top-offset: 178815771589.1799926758vh;
	 --fall-duration: 2589270817.2230000496s;
	 --fall-delay: 7060712880.6879997253s;
}
 .star:nth-child(27) {
	 --star-tail-length: 3690607864.4699997902em;
	 --top-offset: 27775940516.3199996948vh;
	 --fall-duration: 6014421098.4759998322s;
	 --fall-delay: 13524621846.9519996643s;
}
 .star:nth-child(28) {
	 --star-tail-length: 1325554955.4200000763em;
	 --top-offset: 41399047690.8199996948vh;
	 --fall-duration: 9393141420.6919994354s;
	 --fall-delay: 19274557863.0600013733s;
}
 .star:nth-child(29) {
	 --star-tail-length: 4680373767.4200000763em;
	 --top-offset: 153127231392.0199890137vh;
	 --fall-duration: 4225755813.271999836s;
	 --fall-delay: 4913147255.5989999771s;
}
 .star:nth-child(30) {
	 --star-tail-length: 3854081774.9499998093em;
	 --top-offset: 34558106865.1399993896vh;
	 --fall-duration: 5537759766.1590003967s;
	 --fall-delay: 18719803343.1549987793s;
}
 .star:nth-child(31) {
	 --star-tail-length: 1504779397.0199999809em;
	 --top-offset: 46489358170.9700012207vh;
	 --fall-duration: 8511342958.7720003128s;
	 --fall-delay: 8529322656.9809999466s;
}
 .star:nth-child(32) {
	 --star-tail-length: 3315661203.0700001717em;
	 --top-offset: 174863743125.8500061035vh;
	 --fall-duration: 5082879033.3369998932s;
	 --fall-delay: 1480245389.7379999161s;
}
 .star:nth-child(33) {
	 --star-tail-length: 4053434185.1599998474em;
	 --top-offset: 55361592805.7200012207vh;
	 --fall-duration: 11315216575.1690006256s;
	 --fall-delay: 17073966485.9260005951s;
}
 .star:nth-child(34) {
	 --star-tail-length: 1390565845.4500000477em;
	 --top-offset: 108689022715.4900054932vh;
	 --fall-duration: 7995501229.4770002365s;
	 --fall-delay: 16769494861.8080005646s;
}
 .star:nth-child(35) {
	 --star-tail-length: 2199264791.0999999046em;
	 --top-offset: 195588499094.2200012207vh;
	 --fall-duration: 6231580797.7279996872s;
	 --fall-delay: 16516126657.5209999084s;
}
 .star:nth-child(36) {
	 --star-tail-length: 4400978042.0399999619em;
	 --top-offset: 117903208741.9600067139vh;
	 --fall-duration: 2886629116.6810002327s;
	 --fall-delay: 12164239882.3579998016s;
}
 .star:nth-child(37) {
	 --star-tail-length: 14600546.9900000002em;
	 --top-offset: 151978798060.1700134277vh;
	 --fall-duration: 6530983133.8020000458s;
	 --fall-delay: 12826158307.5820007324s;
}
 .star:nth-child(38) {
	 --star-tail-length: 673143423.7899999619em;
	 --top-offset: 207397082234.4599914551vh;
	 --fall-duration: 12609399970.4580001831s;
	 --fall-delay: 3199279615.9720001221s;
}
 .star:nth-child(39) {
	 --star-tail-length: 3382223616.9699997902em;
	 --top-offset: 93737051167.8399963379vh;
	 --fall-duration: 9227956520.4629993439s;
	 --fall-delay: 21351335450.0530014038s;
}
 .star:nth-child(40) {
	 --star-tail-length: 801028127.1000000238em;
	 --top-offset: 110429478643.6799926758vh;
	 --fall-duration: 10324063804.5680007935s;
	 --fall-delay: 10932971547.8360004425s;
}
 .star:nth-child(41) {
	 --star-tail-length: 3908892067.6500000954em;
	 --top-offset: 186708189052.0100097656vh;
	 --fall-duration: 7735381511.4149999619s;
	 --fall-delay: 13533344739.1539993286s;
}
 .star:nth-child(42) {
	 --star-tail-length: 1989323102.5299999714em;
	 --top-offset: 195560417386.3299865723vh;
	 --fall-duration: 7084324980.0749998093s;
	 --fall-delay: 5792770439.1219997406s;
}
 .star:nth-child(43) {
	 --star-tail-length: 979922094.5700000525em;
	 --top-offset: 38860164327.8700027466vh;
	 --fall-duration: 7902123035.0380001068s;
	 --fall-delay: 13974959386.202999115s;
}
 .star:nth-child(44) {
	 --star-tail-length: 921452962.3200000525em;
	 --top-offset: 40236234721.1500015259vh;
	 --fall-duration: 4673401452.4460000992s;
	 --fall-delay: 2240793876.9819998741s;
}
 .star:nth-child(45) {
	 --star-tail-length: 4757474687.3999996185em;
	 --top-offset: 134356282584.8300018311vh;
	 --fall-duration: 11466847106.7129993439s;
	 --fall-delay: 5397300946.126999855s;
}
 .star:nth-child(46) {
	 --star-tail-length: 854990885.6699999571em;
	 --top-offset: 93205317999.8399963379vh;
	 --fall-duration: 10268607639.4139995575s;
	 --fall-delay: 6505393734.3260002136s;
}
 .star:nth-child(47) {
	 --star-tail-length: 1450220611.3399999142em;
	 --top-offset: 21795131395.2099990845vh;
	 --fall-duration: 8787812923.420999527s;
	 --fall-delay: 2140627051.3010001183s;
}
 .star:nth-child(48) {
	 --star-tail-length: 4279909600.1500000954em;
	 --top-offset: 52202293607.3899993896vh;
	 --fall-duration: 6083021031.892999649s;
	 --fall-delay: 3193452393.3080000877s;
}
 .star:nth-child(49) {
	 --star-tail-length: 4837996293.1099996567em;
	 --top-offset: 74699924645.5399932861vh;
	 --fall-duration: 4494735803.8000001907s;
	 --fall-delay: 15092385107.6019992828s;
}
 .star:nth-child(50) {
	 --star-tail-length: 4973657147.1000003815em;
	 --top-offset: 188157619080.5199890137vh;
	 --fall-duration: 9355928607.5900001526s;
	 --fall-delay: 12017706500.4850006104s;
}
 .star::before, .star::after {
	 position: absolute;
	 content: '';
	 top: 0;
	 left: calc(var(--star-width) / -2);
	 width: var(--star-width);
	 height: 100%;
	 background: linear-gradient(45deg, transparent, currentColor, transparent);
	 border-radius: inherit;
	 animation: blink 2s linear infinite;
}
 .star::before {
	 transform: rotate(45deg);
}
 .star::after {
	 transform: rotate(-45deg);
}
 @keyframes fall {
	 to {
		 transform: translate3d(-30em, 0, 0);
	}
}
 @keyframes tail-fade {
	 0%, 50% {
		 width: var(--star-tail-length);
		 opacity: 1;
	}
	 70%, 80% {
		 width: 0;
		 opacity: 0.4;
	}
	 100% {
		 width: 0;
		 opacity: 0;
	}
}
 @keyframes blink {
	 50% {
		 opacity: 0.6;
	}
}
 
.glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 1rem; /* Optional: Adds padding to space the content from the borders */
}


  
