@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
body {
    background-color: black;
    font-family: Cinzel, serif;
}

/* Additional style for icon buttons */
.btn-icon i {
    color: white;
}

.btn-share {
    background-color: #007bff; /* Share button color */
}

.btn-download {
    background-color: #28a745; /* Download button color */
}

.headt {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    border-radius: 20px;
    border-top-right-radius: 90px;
    border: 3px solid rgba(0, 247, 255, 0.26);
    box-shadow: 0 0px 8px 0 rgba(0, 222, 252, 0.37);
    padding: 1rem; /* Optional: Adds padding to space the content from the borders */
    
}

.glow-on-hover {
height: 50px;
border: none;
outline: none;
color: #fff;
background: #111111;
cursor: pointer;
position: relative;
z-index: 0;
border-radius: 10px;
border: 1px solid rgba(245, 222, 179, 0.322);
}

.glow-on-hover:before {
content: '';
background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
position: absolute;
top: -2px;
left:-2px;
background-size: 400%;
z-index: -1;
filter: blur(5px);
width: calc(100% + 4px);
height: calc(100% + 4px);
animation: glowing 20s linear infinite;
opacity: 0;
transition: opacity .3s ease-in-out;
border-radius: 10px;
}

.glow-on-hover:active {
color: #000000
}

.glow-on-hover:active:after {
background: transparent;
}

.glow-on-hover:hover:before {
opacity: 1;
}

.glow-on-hover:after {
z-index: -1;
content: '';
position: absolute;
width: 100%;
height: 100%;
background: #00090a;
left: 0;
top: 0;
border-radius: 10px;
}

@keyframes glowing {
0% { background-position: 0 0; }
50% { background-position: 400% 0; }
100% { background-position: 0 0; }
}

.input {
padding: 10px;
border-radius: 25px;
box-shadow: 0 0 15px #00aced, inset 0 0 7px rgba(7, 7, 7, 0.822); /* Outer and inner shadow */
border-color: aqua;
}
.input:hover {
border-color: rgb(255, 0, 170);
box-shadow: 0 0 20px  rgb(255, 0, 170), inset 0 0 10px rgba(255, 0, 170, 0.664); /* Larger shadows on hover */
}
.glass {
background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
border-radius: 25px;
border: 1px solid rgba(255, 255, 255, 0.18);
box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
padding: 1rem; /* Optional: Adds padding to space the content from the borders */
}

.glass-qr {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    border-radius: 20px;
    border: 3px solid rgba(0, 255, 221, 0.918);
    box-shadow: 0 1px 20px 0 rgb(0, 252, 231);
    padding: 1rem; /* Optional: Adds padding to space the content from the borders */
    }