@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
  background: linear-gradient(to right, #02000f, #020e1a);
  font-family: "Lora";
}


/* .glass1 {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    border-radius: 25px;
    border: 3px solid rgb(255, 0, 115);
    box-shadow: 0 2px 10px 0 rgb(255, 0, 170);
    padding: 0rem; /* Optional: Adds padding to space the content from the borders 
    
    
    } */
.scoreboard{
  background-color: #00fff21d;
  border: 2px solid aqua;
  box-shadow: inset 0 3px 10px rgba(0, 255, 255, 0.647);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);

}
.scoreboard-inside{
  background-color: #7cedf65c;

}

   /* Default Styles */
.option-container {
    cursor: pointer;
    padding: 13px;
    margin: 10px 0;
    border: 2px solid #00fff2;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
    font-size: 20px;
    box-shadow: inset 0 2px 19px rgba(0, 255, 255, 0.647);
    
}


/* Correct and Wrong Styles */
.option-container.correct {
  background-color: #002b0a; /* Green background for correct answer */
  border-color: #00f83a;
  position: relative; /* Needed for the moving sign */
  overflow: hidden; /* Hide anything outside the container */
}

.option-container.correct::after {
  content: ''; /* Empty content for the moving effect */
  position: absolute;
  top: 50%;
  left: -100%; /* Start off-screen on the left */
  width: 100%;
  height: 100px; /* Thickness of the moving sign */
  background-color: #00ff2f4d; /* The moving sign color */
  transform: translateY(-50%); /* Center it vertically */
  animation: moveSign 5s infinite; /* Moving effect animation */
}

@keyframes moveSign {
  0% {
      left: -100%; /* Start off-screen to the left */
  }
  50% {
      left: 100%; /* Move all the way to the right */
  }
  100% {
      left: -100%; /* Reset to the left */
  }
}


.option-container.wrong {
    background-color: #570007; /* Red background for wrong answer */
    border-color: #f8031c;
    box-shadow: 0 2px 20px #f8031c;
    position: relative; /* Needed for the moving sign */
    overflow: hidden; /* Hide anything outside the container */
}

.option-container.wrong::after {
  content: ''; /* Empty content for the moving effect */
  position: absolute;
  top: 50%;
  left: -100%; /* Start off-screen on the left */
  width: 100%;
  height: 100px; /* Thickness of the moving sign */
  background-color: #f800ec17; /* The moving sign color */
  transform: translateY(-50%); /* Center it vertically */
  animation: moveSign 10s infinite; /* Moving effect animation */
}

@keyframes moveSign {
  0% {
      left: -100%; /* Start off-screen to the left */
  }
  50% {
      left: 100%; /* Move all the way to the right */
  }
  100% {
      left: -100%; /* Reset to the left */
  }
}

/* Hover Effects */
.option-container:hover {
    /* background-color: #01e1ff39; */
    /* transform: scale(1.05);  */
    border: 2px solid rgb(82, 218, 184);
    color: #03d9ff;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(250, 250, 255), 0 0 5px rgb(5, 255, 222);
}

/* Question Container */
.question-container {
    cursor: pointer;
    padding: 7px;
    margin: 10px 0;
    border: 3px solid #00fff2;
    box-shadow: 0 2px 10px rgb(0, 229, 255);
    border-radius: 8px;
    text-align: center;
    transition: background-color 0.3s ease;
    font-size: 20px;
    box-shadow: inset 0 2px 19px rgba(0, 255, 255, 0.647),0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);
}

.Options-ind{
  color: #00cbda;
  text-shadow: 0 0px 10px #000000;
}
.option-text {
  color: #000;
  border-top-left-radius: 8px;
  background-color: #00fff2;
  padding-left: 4px;
  padding-right: 8px;
  position: absolute;         /* Position this element absolutely within the container */
  top: 12px;                     /* Align the text at the top of the container */
  left: 45px;                  /* Horizontally center the text */
  transform: translateX(-50%); /* Correctly center the text (50% from the left minus half of its width) */
  font-size: 12px;            /* Small font size */
  font-weight: bold;           
}

/* Mobile Styles */
@media (max-width: 768px) {
    /* Option Containers: Adjust padding and margin for mobile */
    .option-container {
      padding: 15px;
      margin: 5px 0;
      font-size: 15px; /* Adjust font size for smaller screens */
    }
 
    /* Question Container: Adjust padding and margin for mobile */
    .question-container {
      padding: 13px;
      margin: 6px 0;
      font-size: 15px; /* Adjust font size for smaller screens */
    }

    /* Reduce hover scaling on mobile to keep it user-friendly */
    .option-container:hover {
        transform: scale(0.99); /* Slightly smaller scaling */
        border: 2px solid rgb(82, 218, 184);
        text-shadow: 1px 1px 2px black, 0 0 25px rgb(7, 7, 7), 0 0 5px rgb(5, 255, 222);
    }
    .option-text{
      font-size: 10px;
      top: 8px;                     /* Align the text at the top of the container */
      left: 45px;  
    }
}

@media (max-width: 480px) {
    /* Further adjustments for very small screens (smartphones) */
    .option-container {
        padding: 15px;
        margin: 5px 0;
        font-size: 15px; /* Even smaller font size for very small screens */
    }

    .question-container {
        padding: 8px;
        margin: 6px 0;
        font-size: 15px; /* Adjust font size for small screens */
    }

    /* Option Containers: Make sure the scaling is even smaller for mobile */
    .option-container:hover {
        transform: scale(0.98); /* Even smaller scaling on tiny screens */
        border: 2px solid rgb(0, 208, 245);
        text-shadow: 1px 1px 2px black, 0 0 25px rgb(36, 36, 36), 0 0 5px rgb(5, 255, 222);
    }
    .Options-ind{
      display: none;
    }
    .selectedGenre{
      font-size: 12px;
    }
    .selectedDifficulty{
      font-size: 12px;
    }
}

      .my-btn{
        padding: 10px;
        
      }

      .win-container { 
        height: 200px; /* Adjust the height as needed */
        /* background: linear-gradient(45deg, #6a11cb, #2575fc); */
        background: linear-gradient(45deg, #007e77, #3980fc);
        border-radius: 15px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        animation: fadeIn 2s ease-in-out;
        margin: 20px; /* Ensure there's space around the container on smaller screens */
      }
      
      .win-container h4 {
        padding: 20px;
        color: white;
        font-size: 2rem;
        font-weight: bold;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        margin: 0;
      }
      
      .win-container p {
        padding: 20px;
        color: white;
        font-size: 2rem;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        margin: 0;
      }
      
      /* Keyframe animation for fading in */
      @keyframes fadeIn {
        from {
          opacity: 0;
          transform: scale(0.9);
        }
        to {
          opacity: 1;
          transform: scale(1);
        }
      }
      
      /* Media queries for responsiveness */
      @media (max-width: 768px) { /* Tablets and below */
        .win-container {
          height: 150px; /* Reduce height for smaller screens */
        }
      
        .win-container h4,
        .win-container p {
          font-size: 1.5rem; /* Adjust font size */
          padding: 15px; /* Adjust padding */
        }
      }
      
      @media (max-width: 480px) { /* Mobile devices */
        .win-container {
          height: 120px; /* Further reduce height for mobile */
        }
      
        .win-container h4,
        .win-container p {
          font-size: 1.2rem; /* Further reduce font size */
          padding: 10px; /* Adjust padding */
        }
      }
      

/* From Uiverse.io by alexruix */ 
.loader {
  width: 100px;
  height: 50px;
  position: relative;
}

.loader-text {
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  color: #b6faff;
  animation: text_713 3.5s ease both infinite;
  font-size: 1.rem;
  letter-spacing: 1px;
}

.load {
  background-color: #b6faff;
  border-radius: 50px;
  display: block;
  height: 16px;
  width: 20px;
  bottom: 0;
  position: absolute;
  transform: translateX(64px);
  animation: loading_713 3.5s ease both infinite;
}

.load::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #45f7f7;
  border-radius: inherit;
  animation: loading2_713 3.5s ease both infinite;
}

@keyframes text_713 {
  0% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }

  40% {
    letter-spacing: 2px;
    transform: translateX(26px);
  }

  80% {
    letter-spacing: 1px;
    transform: translateX(32px);
  }

  90% {
    letter-spacing: 2px;
    transform: translateX(0px);
  }

  100% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }
}

@keyframes loading_713 {
  0% {
    width: 16px;
    transform: translateX(0px);
  }

  40% {
    width: 100%;
    transform: translateX(0px);
  }

  80% {
    width: 16px;
    transform: translateX(64px);
  }

  90% {
    width: 100%;
    transform: translateX(0px);
  }

  100% {
    width: 16px;
    transform: translateX(0px);
  }
}

@keyframes loading2_713 {
  0% {
    transform: translateX(0px);
    width: 16px;
  }

  40% {
    transform: translateX(0%);
    width: 80%;
  }

  80% {
    width: 100%;
    transform: translateX(0px);
  }

  90% {
    width: 80%;
    transform: translateX(15px);
  }

  100% {
    transform: translateX(0px);
    width: 16px;
  }
}
 
 


h1 {
  font-size: 4rem; /* Big text */
  text-align: center;
  margin-bottom: 50px;
  background: linear-gradient(90deg, #f70098, #be0781, #03d8fd, #005cfc); /* Gradient */
  background-clip: text;
  color: transparent;
  animation: colorChange 5s infinite, bounce 1s infinite;
}

/* Animation for color change */
@keyframes colorChange {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Bounce animation */
@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  30% { transform: translateY(-10px); }
}

/* Responsive styles for mobile devices */
@media (max-width: 768px) {
  h1 {
      font-size: 3rem; /* Smaller font size for smaller screens */
      margin-bottom: 30px; /* Reduce bottom margin */
  }
}

@media (max-width: 480px) {
  h1 {
      font-size: 2.5rem; /* Even smaller font size for very small screens */
      margin-bottom: 20px; /* Further reduce bottom margin */
  }
}

.BrainBuster {
  font-size: 18px;
  background: linear-gradient(90deg, #f70098, #be0781, #03d8fd, #005cfc); /* Gradient */
  background-clip: text;
  color: transparent;
  animation: colorChange 5s infinite, bounce 1s infinite;
}

/* Bounce animation */
@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  30% { transform: translateY(-10px); }
}
 /* Floating back button at the bottom */
 .back-button {
  position: fixed;
  bottom: 30px; /* Place the button at the bottom */
  left: 15%;
  transform: translateX(-50%); /* Center it horizontally */
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 1000;
}

.back-button:hover {
  background-color: #0056b3;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1; /* Lower z-index for background */
  pointer-events: none; /* Allow clicks to pass through */
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(3, 247, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}


.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}

.selectedGenre{
  height: 40px;
  border-radius: 15px;
  background-color: #00fff21d;
  color: aliceblue;
  text-align: center;
  border: 2px solid aqua;
  box-shadow: inset 0 2px 10px rgba(0, 255, 255, 0.647);
}
#genreSelect option {
  background-color: #e0e0e0; /* Light red background */
  color: black;             /* Text color */
}
.selectedDifficulty{
  height: 40px;
  border-radius: 15px;
  background-color: #00fff21d;
  color: aliceblue;
  text-align: center;
  border: 2px solid aqua;
  box-shadow: inset 0 2px 10px rgba(0, 255, 255, 0.647);
}
#difficultySelect option {
  background-color: #e0e0e0; /* Light red background */
  color: black;             /* Text color */
}

.btn-won{
  padding: 10px;
  border: 1px solid aqua;
  color: #00fff2;
  border-radius: 10px;
  box-shadow: inset 0 2px 10px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.btn-won:hover{
  border: 1px solid rgb(0, 153, 255);
  color: rgb(0, 153, 255);
  border-radius: 10px;
  transform: scale(1.08);
  box-shadow:  0 2px 5px,inset 0 2px 10px rgb(0, 153, 255);
}
.btn-won-delete{
  padding: 10px;
  border: 1px solid rgb(255, 0, 0);
  color: rgb(255, 0, 0);
  border-radius: 10px;
  box-shadow: inset 0 2px 10px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.btn-won-delete:hover{
  border: 1px solid rgb(255, 0, 81);
  color: rgb(255, 0, 81);
  border-radius: 10px;
  transform: scale(1.08);
  box-shadow:  0 2px 5px,inset 0 2px 10px rgb(255, 0, 81);
}

